# Ignore virtual environments
venv/
.env

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore Git files
.git/
.gitignore

# Ignore Docker configuration files
Dockerfile
.dockerignore

# Ignore Fly.io specific files
fly.toml

# Ignore environment variable files
**/.env

# Ignore specific directories and files
**/instance/*
**/update_script.py
